/* ------------- media queries ------------- */

@media screen and (min-width:550px) {

    /* ------ mq home ------ */
    .main-home .principal p{
        display: block;
        max-width: 800px;
        font-size: 1.2em;
        padding: 30px;
        text-align: center;
    }    
}

@media screen and (min-width:720px) {

    /* ------ mq home ------ */
    .contenedor-img{
        width: 400px;
        height: 500px;
    }
}

@media screen and (min-width:1080px) {

    /* ------ mq home ------ */
    .section-home .contenedor-img{
        width: 500px;
        height: 600px;
    }
}