@mixin medidas ($w, $h){
    width: $w;
    height: $h;
}
@mixin medidas-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin flex ($dir, $jc){
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: center;
}

@mixin resets {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    list-style: none;
    text-decoration: none;
    font-family: $font-principal;
}

@mixin carousel-button {
    background-color: #4f4f4f;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@mixin opacidad {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(214, 214, 214, 0.4);
    
}