@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Comfortaa:wght@300&family=Roboto:wght@100&display=swap');
// variables
$color-principal: white;
$color-secundario: black;
$color-paleta: #cac3b3;
$color-complementario: whitesmoke;
$color-rutas: rgba(0, 0, 0, 0.399);
$font-principal: 'Belleza', sans-serif;