@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Comfortaa:wght@300&family=Roboto:wght@100&display=swap');
// variables
$color-principal: rgb(255, 255, 255);
$color-secundario: rgb(0, 0, 0);
$color-paleta: #cac3b3;
$color-complementario: whitesmoke;
$color-rutas: rgba(0, 0, 0, 0.399);
$color-inputs: #aa8a6b;
$font-principal: 'Belleza', sans-serif;
$size-general: 1rem;