/* ------------- media queries ------------- */

@media screen and (min-width:550px) {

    /* ------ mq home ------ */
    .main-home .principal p{
        display: block;
        max-width: 800px;
        font-size: 1.2em;
        padding: 30px;
        text-align: center;
    }    
}

@media screen and (min-width:720px) {

    /* ------ mq home ------ */
    .contenedor-img{
        width: 400px;
        height: 500px;
    }

    /* mq - sobre mi */
    .parrafo{
        min-width: 500px;
    }
}

@media screen and (min-width:1080px) {

    /* ------ mq home ------ */
    .section-home .contenedor-img{
        width: 500px;
        height: 600px;
    }

    /* mq - sobre mi */
    .sobre-mi{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "texto imagen";
        justify-items: center;
        align-items: center;

        .imagen-sobreMi{
            @include medidas (400px, 400px);
        }

        .parrafo{

            p{
                font-size: larger;
                text-align: left;
            }
        }
    }
}

@media screen and (min-width:1400px) {

    /* mq - sobre mi */
    .sobre-mi{

        .imagen-sobreMi{
            @include medidas (450px, 450px);
        }
    }    
}